.cooperation-header {
  margin-top: -6px;
  padding-left: 12px;
  padding-bottom: 102px;
  &__title {
    color: #4e5c62;
    padding-bottom: 16px;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 0.95;
    font-variant: small-caps;
    letter-spacing: 1.81px;
  }
  &__text {
    padding-left: 4px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 1.2;
    letter-spacing: 0.65px;
  }
  &__button {
    margin-top: 41px;
    margin-left: 7px;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1.2px;
    background-color: #ff5f10;
    padding-left: 21px;
    padding-right: 22px;
    padding-bottom: 9px;
    padding-top: 10px;
    display: inline-block;
    transition: 0.2s;
    &:hover, &:focus {
        background: #ff4005;
    }
  }
}

.recomended {
  padding: 0;
  padding-bottom: 28px;
  &__title {
    padding-top: 57px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    &::after {
      @include s-title-line;
      margin-left: 0;
      margin-top: 18px;
      margin-bottom: 20px;
    }
  }
  &__text {
    padding-bottom: 33px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &__list {
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    line-height: 31.94px;
    font-variant: small-caps;
    letter-spacing: 0.4px;
    &_shift {
      margin-left: -52px;
    }
    ul {
      padding: 0;
      padding-top: 22px;
      margin: 0;
      list-style: none;
    }
    li {
      position: relative;
      padding-bottom: 12px;
      color: #000000;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 19px;
      line-height: 1.2;
      font-weight: 400;
      line-height: 20px;
      font-variant: small-caps;
      letter-spacing: 0.47px;
      &::before {
        content: "";
        display: inline-block;
        top: 7px;
        left: 1px;
        width: 5px;
        height: 5px;
        margin-left: 2px;
        margin-right: 10px;
        margin-bottom: 4px;
        background-color: #000000;
        border-radius: 50%;
      }
    }
  }
}

.agents {
  padding: 0;
  padding-bottom: 44px;
  background-color: #edf2f3;
  &__title {
    padding-top: 47px;
    padding-left: 33px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &::after {
      @include s-title-line;
      margin-left: 0;
      margin-top: 18px;
      margin-bottom: 21px;
    }
  }
  &__text {
    padding-left: 33px;
    padding-bottom: 25px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
  }
  &__list-container {
    padding-left: 33px;
  }
  &__list {
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    line-height: 31.94px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
    &_shift {
      padding-left: 33px;
    }
    ul {
      padding: 0;
      margin: 0;
      padding-top: 19px;
      list-style: none;
      margin-right: -61px;
    }
    li {
      position: relative;
      padding-bottom: 12px;
      color: #000000;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 19px;
      line-height: 1.2;
      font-weight: 400;
      line-height: 20px;
      font-variant: small-caps;
      letter-spacing: 0.47px;
      &::before {
        content: "";
        display: inline-block;
        top: 7px;
        left: 1px;
        width: 5px;
        height: 5px;
        margin-right: 10px;
        margin-bottom: 4px;
        margin-left: 3px;
        background-color: #000000;
        border-radius: 50%;
      }
    }
  }
}

.orginize {
  padding: 0;
  padding-bottom: 44px;
  &__title {
    margin-left: -4px;
    padding-top: 47px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &::after {
      @include s-title-line;
      margin-left: 0;
      margin-top: 18px;
      margin-bottom: 20px;
    }
  }
  &__text {
    padding-bottom: 33px;
    margin-right: 10px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
  }
  &__list {
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    line-height: 31.94px;
    font-variant: small-caps;
    letter-spacing: 0.4px;
    &_shift {
      margin-left: -52px;
    }
    ul {
      padding: 0;
      padding-top: 18px;
      margin: 0;
      list-style: none;
    }
    li {
      position: relative;
      padding-bottom: 12px;
      color: #000000;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 19px;
      line-height: 1.2;
      font-weight: 400;
      line-height: 20px;
      font-variant: small-caps;
      letter-spacing: 0.47px;
      &::before {
        content: "";
        display: inline-block;
        top: 7px;
        left: 1px;
        width: 5px;
        height: 5px;
        margin-left: 2px;
        margin-right: 10px;
        margin-bottom: 4px;
        background-color: #000000;
        border-radius: 50%;
      }
    }
  }
}

.buissnes {
  padding: 0;
  padding-bottom: 44px;
  background-color: #edf2f3;
  &__title {
    padding-top: 47px;
    padding-left: 33px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &::after {
      @include s-title-line;
      margin-left: 0;
      margin-top: 18px;
      margin-bottom: 21px;
    }
  }
  &__text {
    padding-left: 33px;
    padding-bottom: 25px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.1px;
  }
  &__list-container {
    padding-left: 33px;
  }
  &__list {
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    line-height: 31.94px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
    &_shift {
      padding-left: 33px;
    }
    ul {
      padding: 0;
      margin: 0;
      padding-top: 19px;
      list-style: none;
      margin-right: -61px;
    }
    li {
      position: relative;
      padding-bottom: 12px;
      color: #000000;
      font-family: "Futura Medium C", Arial, sans-serif;
      font-size: 19px;
      line-height: 1.2;
      font-weight: 400;
      line-height: 20px;
      font-variant: small-caps;
      letter-spacing: 0.47px;
      &::before {
        content: "";
        display: inline-block;
        top: 7px;
        left: 1px;
        width: 5px;
        height: 5px;
        margin-right: 10px;
        margin-bottom: 4px;
        margin-left: 3px;
        background-color: #000000;
        border-radius: 50%;
      }
    }
  }
}

.oranization {
  padding: 0;
  padding-bottom: 80px;
  &__title {
    padding-top: 49px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    &::after {
      @include s-title-line;
      margin-left: 0;
      margin-top: 21px;
      margin-bottom: 33px;
    }
  }
  &__text {
    margin-bottom: 43px;
  }
  p {
    margin: 0;
    padding-bottom: 12px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  &__photo-button {
    padding-left: 22px;
    padding-right: 19px;
    padding-top: 7px;
    padding-bottom: 8px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    border: 1px solid #8c9ba0;
    &:hover {
      background-color: rgba(117, 151, 165, 0.1);
    }
  }
}

.masters {
  padding: 0;
  padding-bottom: 60px;
  background-color: #edf2f3;
  &__title {
    padding-top: 49px;
    color: #4e5c62;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    line-height: 31.94px;
    text-transform: uppercase;
    letter-spacing: 0.63px;
    text-align: center;
    &::after {
      @include s-title-line;
      margin-top: 21px;
      margin-bottom: 47px;
    }
  }
  &__text {
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1px;
    padding-bottom: 44px;
  }
  &__dawnload-button {
    padding-top: 8px;
    padding-bottom: 9px;
    display: block;
    width: 194px;
    margin: 0 auto;
    margin-bottom: 19px;
    color: #000000;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    border: 1px solid #8c9ba0;
    text-align: center;
    &:hover {
      background-color: rgba(117, 151, 165, 0.1);
    }
  }
  &__add-button {
    padding-top: 8px;
    padding-bottom: 9px;
    display: block;
    width: 194px;
    margin: 0 auto;
    background-color: #ff4e00;
    color: #fefefe;
    font-family: "Futura Book C", Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-align: center;
    &:hover {
      background-color: #ff4005;
    }
  }
}