include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Аренда аудиторий')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    section.main-section.main-section--owl.pb-0.header-section(style="background-image: url(images/pazl.jpg)")
      .container
        .row.justify-content-end
          .col-md-6
            +b.cooperation-header
              +e.title Приглашаем<br>к сотрудничеству
              +e.text Развиваем бизнес-образование<br>в России и других странах!
              +e.A.button Отправить предложение

    +b.SECTION.recomended
      .container
        .row
          .col-md-8
            +e.title Рекомендатель РШУ
            +e.text Для физических лиц, индивидуальных предпринимателей, организаций.
            .row
              .col-md-6
                +e.list Для кого: 
                  ul 
                    li Индивидуальные предприниматели;
                    li Организации;
                    li Блогеры;
                    li Владельцы сайтов-агрегаторов.
              .col-md-6
                +e.list._shift Преимущества:
                  ul 
                    li Сотрудничество с ведущей бизнес-школой России;
                    li Специальная бонусная программа.

    +b.SECTION.agents
      .container
        .row.justify-content-end
          .col-md-6
            +e.title Агент РШУ
            +e.text Система бонусов и денежного вознаграждения за привлеченных клиентов.
            +e.list-container
              .row
                .col-md-6
                  +e.list Для кого: 
                    ul 
                      li Индивидуальные предприниматели
                      li Организации
                      li Блогеры
                      li Владельцы сайтов-агрегаторов
                .col-md-6
                  +e.list._shift Преимущества:
                    ul 
                      li Готовая бизнес-идея
                      li Работа с качественным образовательным брендом
                      li Прозрачные условия
                      li Специальная бонусная программа
                      li Готовые рекламные материалы

    +b.SECTION.orginize
      .container
        .row
          .col-md-8
            +e.title Региональный представитель РШУ
            +e.text Получение эксклюзивного права на проведение обучения в открытом и корпоративном формате в вашем регионе по программам РШУ.
            .row
              .col-md-6
                +e.list Для кого: 
                  ul 
                    li Консалтинговые компании;
                    li Коммуникационные агентства;
                    li Провайдеры услуг бизнес-образования;
                    li Кадровые агентства;
                    li Юридические компании.
              .col-md-6
                +e.list._shift Преимущества:
                  ul 
                    li Прозрачные условия;
                    li Специальная бонусная программа;
                    li Эксклюзив на выбранный город или регион;
                    li Поддержка рекламной кампании;
                    li Информационная поддержка;
                    li Ежегодные профессиональные конференции.

    +b.SECTION.buissnes
      .container
        .row.justify-content-end
          .col-md-6
            +e.title Бизнес-партнёр
            +e.text Получение эксклюзивного права представлять программу Mini MBA в вашем регионе при поддержке РШУ.
            +e.list-container
              .row
                .col-md-6
                  +e.list Для кого: 
                    ul 
                      li Индивидуальные предприниматели
                      li Организации
                      li Блогеры
                      li Владельцы сайтов-агрегаторов
                .col-md-6
                  +e.list._shift Преимущества:
                    ul 
                      li Готовая бизнес-идея
                      li Работа с качественным образовательным брендом
                      li Прозрачные условия
                      li Специальная бонусная программа
                      li Готовые рекламные материалы

    +b.SECTION.oranization
      .container
        .row
          .col-md-6
            +e.title Организаторам конференций
            +e.text 
              p Приглашаем к сотрудничеству организаторов региональных конференций и <br> бизнес-форумов.
              p Мы поможем подобрать спикера из числа преподавателей Школы, подготовить качественную образовательную программу.
              p У нас достаточно опыта и экспертизы. Мы готовы помогать предпринимателям из регионов России и делиться с ними знаниями на мастер-классах и семинарах.

            +e.A.photo-button Фото с конференций

    +b.SECTION.masters
      .container
        +e.content
          +e.title Мастерские по обмену опытом для руководителей образовательных центров
          +e.text Приглашаем   присоединится к профессиональному сообществу руководителей образовательных центров и принять участие в мастерских по обмену опытом.

          +e.A.dawnload-button Скачать программу
          +e.A.add-button Подать заявку

    +b.SECTION.addition
      .container
        +e.list
          .row.justify-content-center
            .col-md-4
              +e.item
                +e.title-item._line Масштабная региональная сеть
                +e.text-item 12 филиалов РШУ и 20 региональных представительств по всей России
            .col-md-4
              +e.item
                +e.title-item._line Одна команда
                +e.text-item Обеспечение должного уровня сервиса <br> и высоких стандартов качества РШУ
            .col-md-4
              +e.item
                +e.title-item._line Единый стандарт качества
                +e.text-item Обеспечение должного уровня сервиса и высоких стандартов качества РШУ

    +b.SECTION.promo-video
      .container
        .row.justify-content-center
          .col-md-8
            +e.content
              img(src="http://placehold.it/749x420", alt="")

    +b.SECTION.other-offers 
      .container
        +e.content
          +e.title Есть другие предложения? Давайте обсудим!
          +e.text Получить дополнительную информацию и отправить заявку на участие вы можете по адресу
            +e.A.email region@uprav.ru
          +e.A.button Написать

   
    include pug/footer.pug